body{
    background-color: crimson;
    background-repeat: inherit;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(247, 178, 30);
}
section {
    background-image: url(../Imagenes/pokeapi_256.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;
    display: flex;
    background-color: #f1f1f1;
    padding: 30px;
    margin-bottom: 40px;
    width: 50%;
    border-radius: 20px;
    align-items: flex-end;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.space{
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 5px;
}

.space-btn{
    background-color: #f1f1f1;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.pokeball-up{
    background-image: url(../Imagenes/Pokeball-top.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
}
.pokeball-button{
    background-image: url(../Imagenes/Pokeball-button.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    padding-top: 10px;
}
.pokedeks{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.div-space{
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.div-space2{
    height: 120px;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.div-space3{
    height: 20px;
    width: 600px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.div-space4{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.div-space5{
    height: auto;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.img-poke{
    background-position-y: 15px;
    position: relative;
    right: 35px;
    bottom: 97px;
}
.img-poke2{
    background-position-y: 15px;
    position: relative;
    left: 35px;
}
.img-baby{
    height: 19px;
    width: 52px;
    top: 5px;
    position: relative;
    margin-right: -43px;
}
h1{
    width: 100%;
    height: 35px;
    padding-left: 40px;
}
.img-github{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 12px;
    background-color: rgb(126, 126, 126);
    border-radius: 50px;
}
button{
    background-color: rgb(247, 178, 30);
    color: white;
    border-radius: 15px;
    width: 112px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-pokeball{
    height: 25px;
    width: 25px;
    position: relative;
    left: 8px;
}
.li1{
    color: black;
    font-weight: bold;
    align-items: center;
    align-self: flex-start;
    position: relative;
    left: 115px;
}
.li2{
    color: black;
    font-weight: bold;
    align-items: center;
    align-self: flex-start;
    position: relative;
    bottom: 10px;
}