body{
    background-color: crimson;
    background-repeat: inherit;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}
:root {
    --blue:  linear-gradient(180deg, rgba(13,14,222,1) 0%, rgba(44,66,224,1) 10%, rgba(225,228,255,1) 100%);
    --yellow: linear-gradient(180deg, rgba(239,255,0,1) 0%, rgba(239,255,0,1) 10%, rgba(255,255,250,1) 100%);
    --black: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(204,249,205,1) 100%);
    --brown: linear-gradient(180deg, rgba(96,63,5,1) 0%, rgba(153,101,10,1) 17%, rgba(255,227,177,1) 100%);
    --gray: linear-gradient(180deg, rgba(64,62,58,1) 0%, rgba(82,78,71,1) 17%, rgba(223,220,215,1) 100%);
    --green: linear-gradient(180deg, rgba(27,212,33,1) 0%, rgba(0,255,8,1) 10%, rgba(204,249,205,1) 100%);
    --pink: linear-gradient(180deg, rgba(198,0,191,1) 0%, rgba(240,83,235,1) 17%, rgba(255,185,253,1) 100%);
    --purple: linear-gradient(180deg, rgba(87,4,103,1) 0%, rgba(131,31,150,1) 17%, rgba(244,185,255,1) 100%);
    --red: linear-gradient(180deg, rgba(167,4,4,1) 0%, rgba(255,0,0,1) 17%, rgba(255,185,185,1) 100%);
    --white: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(175,173,173,1) 100%);
  }
input{
    border: solid;
    border-color: goldenrod;
    border-radius: 15px;
    width: 170px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
select{
    border: solid;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border-color: goldenrod;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
section {
    background-image: url(../Imagenes/pokeapi_256.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;
    display: flex;
    background-color: #df0c0c;
    padding: 30px;
    margin-bottom: 40px;
    width: 50%;
    border-radius: 20px;
    align-items: flex-end;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.space{
    background-color: #df0c0c;
    margin: 10px;
    border-radius: 5px;
}

.space-btn{
    background-color: #df0c0c;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.pokeball-up{
    background-image: url(../Imagenes/Pokeball-top.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
}
.pokeball-button{
    background-image: url(../Imagenes/Pokeball-button.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    padding-top: 10px;
}
.pokedeks{
    background-color: blanchedalmond;
    height: 440px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.pokedeks2{
    background-color: rgb(255, 255, 255);
    height: auto;
    padding-bottom: 25px;
    width: 600px;
    border-radius: 25px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.div-space{
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.div-space2{
    height: 120px;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.div-space3{
    height: 20px;
    width: 600px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.div-space4{
    height: auto;
    width: 300px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.div-space5{
    height: auto;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.img-poke{
    background-position-y: 15px;
    position: relative;
    right: 30px;
    bottom: 97px;
}
.img-poke2{
    background-position-y: 15px;
    position: relative;
    left: 30px;
}
.img-type{
    height: 55px;
    width: 60px;
    top: 10px;
    position: relative;
    margin-right: -45px;
}
.img-baby{
    height: 19px;
    width: 52px;
    top: 5px;
    position: relative;
    left: -15px;
}
h1{
    width: 100%;
    height: 35px;
    padding-left: 40px;
}
.img-github{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 12px;
    background-color: rgb(126, 126, 126);
    border-radius: 50px;
}
button{
    background-color: rgb(247, 178, 30);
    color: white;
    border-radius: 15px;
    width: 112px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-pokeball{
    height: 25px;
    width: 25px;
    position: relative;
    left: 8px;
}
.li1{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 19px;
    align-items: center;
    align-self: flex-start;
    position: relative;
    left: 115px;
    top: 10px;
}
.li2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 19px;
    align-items: center;
    align-self: flex-start;
    position: relative;
    bottom: 10px;
}
.list-ability{
    color: rgb(19, 22, 185);
    font-weight: bold;
    font-size: 19px;
}

/* Poké Styles */
.center-on-page {
    position: relative;
    bottom: 510px;
  }

.pokeball {
    position: relative;
    width: 400px;
    height: 400px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: #ff0000;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate 7;
  }
  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0 { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
  @keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
  }